* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
}

/* ===== HEADER ===== */

.header {
    padding: 20px 30px;
    background: white;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    transition: 0.2s;
}

.nav-list li a:hover {
    color: rgb(196, 41, 21);
}

.Buy {
    color: black;
    font-weight: bold;
}

.Add {
    margin-left: auto;
    background: rgb(196, 41, 21);
    color: white !important;
    padding: 6px 14px;
    border-radius: 6px;
}

/* ===== MAIN ===== */

.main {
    padding: 30px;
    max-width: none;
    width: 100%;
}

.filters-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters-header h2 {
    font-size: 24px;
}

.reset {
    font-size: 16px;
    color: rgb(196, 41, 21);
    text-decoration: none;
}

.reset:hover {
    text-decoration: underline;
}

.property {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #555;
}

.filter-box {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.filter-box input {
    transform: scale(1.2);
    margin-right: 10px;
}

/*.filter-row{
    margin-top:79px;
    display: flex;
   
}*/

.price-select{
    border-radius: 20px;
    width: 100%;
    height: 32px;
    text-align: center;

}

.filters-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    margin-bottom: 16px;

}

/*Stred stranky*/

.search-header{
    display: flex;
    align-items: center;
    gap: 250px;
    margin:0 0 24px 0;
}

/*obrazky*/

.gallery{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap:50px;
     max-width: none;
     margin: 0 auto;
}

.gallery img {
    border-radius: 8px;
    width: 100%;
    object-fit:cover;
    padding: 10px;
}

.card{
    background: white;
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.gallery h4{
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

.gallery p{
    text-align:left;
    padding: 10px;
}

.layout {
    display: grid;
    grid-template-columns: 280px 1fr 38%;
    gap: 40px;
    max-width: 100%;
    margin: 0;
    align-items: start;
    height: calc(100vh - 120px);
}

.filters{
    background: white;
    padding: 16px;
    border-radius: 10px;
}

.results{
    min-width: 0;
}

.map{
    position: sticky;
    top: 0;
    height: 100%;   
}

.map-placeholder{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa{
    width:90%;
    height:100%; 
    border-radius: 20px;
    border: black 2px solid;
    }