* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
}

/* ===== HEADER ===== */

.header {
    padding: 20px 30px;
    background: white;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    transition: 0.2s;
}

.nav-list li a:hover {
    color: rgb(196, 41, 21);
}

.Buy {
    color: black;
    font-weight: bold;
}

.Add {
    margin-left: auto;
    background: rgb(196, 41, 21);
    color: white !important;
    padding: 6px 14px;
    border-radius: 6px;
}

/* ===== MAIN ===== */

.main {
    padding: 30px;
    max-width: none;
    width: 100%;
}

.filters-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters-header h2 {
    font-size: 24px;
}

.reset {
    font-size: 16px;
    color: rgb(196, 41, 21);
    text-decoration: none;
}

.reset:hover {
    text-decoration: underline;
}

.property {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #555;
}

.filter-box {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.filter-box input {
    transform: scale(1.2);
    margin-right: 10px;
}

.filter-row{
    margin-top:79px;
    display: flex;
   
}

.price-select{
    border-radius: 20px;
    width: 100px;
    padding:5px;
    text-align: center;
    margin-left:auto;

}

.filters-container{
    display: flex;
 

}

/*Stred stranky*/

.page-container{
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    justify-content: center;

    padding-top: 20px;
}


.search-header{
    display: flex;
    align-items: center;
    gap: 250px;
    margin-top: 50px;
}

/*obrazky*/

.gallery{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
     max-width: 100px;
}

img {
    border: 2px solid black;
}