html,body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 1200px;
    margin: auto;
}

header {
    background: #385898;
}

header h1{
    color: aliceblue;
    text-align: center;
    margin-top: 0px;
    display: a
}

#logo img {
    display: block;
    width: 50%;
    margin: 0px auto;
}

main h2 {
    text-align: center;
    color: #385898;
    font-size: 40px;
    margin-bottom: 0px;
}

main p {
    background: #385898;
    color: antiquewhite;
    font-size: 20px;
    padding: 10px 20px;
}

/*Formular*/
form{
    text-align: center;
}

form input {
    margin-top: 20px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    height: 40px;
    width: 250px;
}

input[type=submit]{
    background: #385898;
    color: aliceblue;
    font-size: 20px;
}

input[type=submit]:hover{
    background: #fdfdfd;
    color: rgb(71, 55, 151);
    font-size: 20px;
}/*Footer*/

footer p {
    background-color: #385898;
    color:#fdfdfd;
    font-size: 20px;
    margin-bottom:0px;
    border:2px red solid;
    padding-left: 30px;
}
 
